{
  "swagger": "2.0",
  "info": {
    "title": "App Registrations API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "tags": [
    {
      "name": "AppRegistrations"
    }
  ],
  "host": "jitsuin.readthedocs.io",
  "basePath": "/archivist/iam/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/iam/v1/applications": {
      "get": {
        "operationId": "AppRegistrations_ListAppRegistrations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAppRegistrationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      },
      "post": {
        "summary": "Register a new application",
        "description": "...",
        "operationId": "AppRegistrations_CreateAppRegistration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Application"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAppRegistrationRequest"
            }
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      }
    },
    "/archivist/iam/v1/applications/{uuid}": {
      "get": {
        "operationId": "AppRegistrations_GetAppRegistration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      },
      "delete": {
        "operationId": "AppRegistrations_DeleteAppRegistration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      },
      "patch": {
        "operationId": "AppRegistrations_UpdateAppRegistration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      }
    },
    "/archivist/iam/v1/applications/{uuid}:regenerate-secret": {
      "post": {
        "operationId": "AppRegistrations_RegenerateAppRegistrationSecret",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      }
    },
    "/archivist/internal/iam/v1/applications/{uuid}": {
      "get": {
        "operationId": "AppRegistrations_InternalGetAppRegistration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AppRegistrations"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1Application": {
      "type": "object",
      "properties": {
        "identity": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        },
        "client_id": {
          "type": "string"
        },
        "tenant_id": {
          "type": "string"
        },
        "credentials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Credential"
          }
        },
        "custom_claims": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "title": "Response types"
    },
    "v1CreateAppRegistrationRequest": {
      "type": "object",
      "properties": {
        "display_name": {
          "type": "string"
        },
        "custom_claims": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "title": "Request types"
    },
    "v1Credential": {
      "type": "object",
      "properties": {
        "secret": {
          "type": "string",
          "description": "The secret will be redacted for certain methods."
        },
        "valid_from": {
          "type": "string",
          "format": "date-time"
        },
        "valid_until": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v1ListAppRegistrationsResponse": {
      "type": "object",
      "properties": {
        "applications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Application"
          }
        },
        "next_page_token": {
          "type": "string"
        }
      }
    }
  }
}
